<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Guid:</strong>
  <%= @team.guid %>
</p>
<%= link_to 'Edit', edit_team_path(@team.guid) %> |
<%= link_to 'Back', teams_path %>

<hr />

<h3>Members</h3>
<ul>
<% @team.members.each do |member| %>
  <li><%=link_to member.name, member %></li>
<% end %>
</ul>
<%= link_to 'New Member', new_team_member_path(@team.guid) %>

<hr />

<h3>Standups</h3>
<ul>
<% @team.meetings.each do |meeting| %>
  <li><%=link_to meeting.name, meeting_path(meeting.guid) %></li>
<% end %>
</ul>
<%= link_to 'New Meeting', new_team_meeting_path(@team.guid) %>

